# Python
__pycache__/
*.py[cod]
*$py.class

*.pyc
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Streamlit cache
.streamlit/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
logs/*.log

# Database
database/*.db

# Airflow
airflow/logs/
airflow/.env
airflow/config/